@model MVCEntityFrameWork.Models.Translator
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h2>Delete</h2>

<div class="row text-right">
    <div class="pull-right">
        <h4>آیا شما می خواهید <span> @Model.Name @Model.Family را پاک نمایید؟</span></h4>
    </div>
    <form asp-action="Deleted">
        <input type="hidden" asp-for="TranslatorID"/>
        <input type="submit" class="btn btn-danger" value="بله" />
        <a asp-action="index" class="btn btn-default">خیر</a>
    </form>
</div>

